body {
    background: navy;
}

#container {
    height: 512px;
    width: 512px;
    margin: auto;
    background: rgba(255, 255, 255, 0.952);
}

.cell {
    margin: 0px;
    padding: 0px;
   
}

#buttons {
    text-align: center;
}

button {
    background: blanchedalmond;
    align-content: center;
    font-size: 13pt;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: blanchedalmond;
}